[submodule "ThirdParty/Alamofire"]
	path = ThirdParty/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "ThirdParty/Futures"]
	path = ThirdParty/Futures
	url = https://github.com/mrdepth/Futures.git
