[submodule "ThirdParty/AFNetworking"]
	path = ThirdParty/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "ThirdParty/Alamofire"]
	path = ThirdParty/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
